.post-item {
  margin: 1rem 0;
}

.post-item_content {
  padding: 0;
}

.post-item_info {
  padding: 1rem;
  text-align: center;
}

.post-item_image {
  width: 100%;
  height: 12.5rem;
  margin-right: 1.5rem;
}

.post-item_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-item_info h2,
.post-item_info h3,
.post-item_info p {
  margin: 0 0 0.5rem 0;
}

.post-item_actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.post-item_modal-content {
  padding: 0;
}

.post-item_modal-actions {
  text-align: right;
}

.post-item_actions button,
.post-item_actions a {
  margin: 0.5rem;
  width: 100%;
}

.map-container {
  height: 20rem;
}

@media (min-width: 768px) {
  .post-item_image {
    height: 20rem;
  } 
}